:root {
  color-scheme: light dark;
  /*light mode colours*/
  --light-card-bg-colour: white;
  --light-card-title-span-colour: #333;
  --light-card-box-shadow-colour: rgba(0, 0, 0, 0.2);
  --light-card-box-shadow-hover-colour: #5c2246;
  --light-modal-bg-colour: #ecf1f1;
  --light-modal-boxshadow-colour: rgb(20, 20, 20, 0.151);
  --light-hover-active-colour: #5c2246;
  --light-nav-text-colour: black;
  --light-svg-fill-colour: black;
  --light-sorce-code-svg-fill-colour: #5a5c5e;
  --light-card-title-span-colour: #333;
  --light-card-box-shadow-colour: rgba(0, 0, 0, 0.2);
  --light-card-box-shadow-hover-colour: #5c2246;
  --light-top-border-colour: #5c2246;
  --light-project-discription-colour: #29292b;
  /*dark mode colours*/
  --dark-hover-active-colour: #f2c7e2;
  --svg-fill-colour: #fff;
  --sorce-code-svg-fill-colour: hsl(214, 7%, 47%);
  --dark-card-bg-colour: #262626;
  --card-title-span-colour: rgb(255, 251, 251);
  --card-box-shadow-colour: rgba(139, 138, 138, 0.2);
  --card-box-shadow-hover-colour: #f2c7e2;
  --top-border-colour: #f2c7e2;
  --footer-link-colour: dimgrey;
  --blog-span-hr-colour: rgba(105, 105, 105, 0.26);
  --project-discription-colour: #b5b8bd;
}

.card_a {
  color: black;
  padding-left: 1em;
}
.card_a:hover {
  color: var(--light-hover-active-colour);
}
@media (prefers-color-scheme: dark) {
  .card_a {
    color: var(--header-text-colour);
  }
  .card_a:hover {
    color: var(--dark-hover-active-colour);
  }
}

.project_band {
  width: 60%;
  max-width: 2000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .project_band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .project_band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.help_band {
  width: 55%;
  height: 100%;
  max-width: 1500px;
  margin: auto;
  display: grid;
  align-items: center;
  align-content: center;
  align-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .help_band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .help_band {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project_card {
  background: var(--light-card-bg-colour);
  text-decoration: none;
  box-shadow: 0 2px 5px var(--light-card-box-shadow-colour);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.project_card:hover {
  top: -2px;
  box-shadow: 0 4px 5px var(--light-card-box-shadow-hover-colour);
}
@media (prefers-color-scheme: dark) {
  .project_card {
    background: var(--dark-card-bg-colour);
    text-decoration: none;
    color: var(--nav-text-colour);
    box-shadow: 0 2px 5px var(--card-box-shadow-colour);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
  }
  .project_card:hover {
    top: -2px;
    box-shadow: 0 4px 5px var(--card-box-shadow-hover-colour);
  }
}

.help_card {
  background-color: inherit;
  text-decoration: none;
  /* box-shadow: 0 2px 5px var(--light-card-box-shadow-colour); */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.help_card:hover {
  top: -2px;
  /* box-shadow: 0 4px 5px var(--light-card-box-shadow-hover-colour); */
}
@media (prefers-color-scheme: dark) {
  .help_card {
    background-color: inherit;
    text-decoration: none;
    color: var(--nav-text-colour);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
  }
  .help_card:hover {
    top: -6px;
  }
}

/* The Close Button */
.close {
  color: black;
  float: right;
  margin-left: 87%;
  background-color: rgba(255, 254, 255, 0.589);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 28px;
  font-weight: bold;
  position: fixed;
}
@media (prefers-color-scheme: dark) {
  .close {
    background-color: rgba(0, 0, 0, 0.3843137255);
    color: white;
  }
}

.close:hover,
.close:focus {
  color: var(--light-hover-active-colour);
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .close:hover,
  .close:focus {
    color: var(--dark-hover-active-colour);
  }
}
.article_card {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 18px;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  h1 h1 {
    font-size: 20px;
    margin: 0;
  }
}

.thumb {
  padding-bottom: 70%;
  min-height: 100%;
  width: 100%;
  background-size: cover;
  align-items: center;
  background-position: top left;
  margin: auto;
}

.blog_page_thumb {
  padding-bottom: 70%;
  min-height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center left;
  align-items: center;
  margin: auto;
}

.card_thumb_2 {
  padding-bottom: 70%;
  min-height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  align-items: center;
  margin: auto;
}

@media (min-width: 60em) {
  .item-1 {
    grid-column: 1/span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}
.project-link-flex {
  display: flex;
  max-width: 450px;
  align-items: center;
  margin: 0 auto;
}

.card_text {
  font-size: 20px;
  margin: 0;
  background-color: inherit;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  .card_text h1 {
    font-size: 20px;
    margin: 0;
  }
}

.card_text:hover {
  color: var(--light-hover-active-colour);
}
@media (prefers-color-scheme: dark) {
  .card_text:hover {
    color: var(--dark-hover-active-colour);
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}/*# sourceMappingURL=cards.css.map */