
:root {
    color-scheme: light dark;
    /*light mode colours*/
    --light-header-boxshadow-colour: rgb(20, 20, 20, 0.151);
    --light-hover-active-colour: #5c2246;
    --light-hamburger-icon-colour: #f2f5f7;
    --light-topnav-bg-colour: -;
--settings-light-lang-colour: #5c5785;
    /*dark mode colours*/
    --dark-header-boxshadow-colour: rgb(20, 20, 20, 0.151);
    --dark-hover-active-colour: #f2c7e2;
    --dark-hamburger-icon-colour: #f2f5f7;
    --dark-topnav-bg-colour: #252525;

   --settings-dark-lang-colour: #232135;

    /*header colours*/
    --header-text-colour: #f2f5f7;
    --header-bg-colour: #141030;
    --header-hover-text-colour: #f2c7e2;
    --header-search-colour: #232135;
    --header-hover-search-colour: #232135;
    --dropdown-bg-colour: #232135;

     /*footer colours*/
     --footer-text-colour: #f2f5f7;
     --footer-bg-colour: #141030;
}
a {
    color: black;
    &:hover {
      color: var(--light-hover-active-colour);
    }
    @media (prefers-color-scheme: dark) {
      color: var(--header-text-colour);
      &:hover {
        color: var(--dark-hover-active-colour);
      }
    }
  }
  
header{
    background-color: var(--header-bg-colour);
    color: #f2f5f7;
    box-shadow: 0px 0px 0px var(--light-header-boxshadow-colour);
    padding: .13em;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
    -webkit-app-region: drag;
    @media (prefers-color-scheme: dark) {
      background-color: var(--header-bg-colour);
      box-shadow: 0px 0px 0px var(--dark-header-boxshadow-colour);
    }
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: var(--light-topnav-bg-colour);
     box-shadow: 5px 5px 5px var(--light-header-boxshadow-colour);
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 6em; /* Place content 60px from the top */
    padding-top: 60px; /* Place content 60px from the top */
margin-left: 86.5%;

    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    -webkit-app-region: no-drag;
    @media (prefers-color-scheme: dark) {
      background-color: var(--dark-topnav-bg-colour);
      box-shadow: 5px 5px 5px var(--dark-header-boxshadow-colour);
    }
  }
  
  /* The navigation menu links */
  .sidenav a, .dropdown-btn {
    padding: 25px 8px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    background-color: inherit;
    color: black;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    -webkit-app-region: no-drag;
    @media (prefers-color-scheme: dark) {
      color: var(--header-text-colour);
    }
  }
.sidenav .sidenav_text{
color: black;
margin: auto;
text-align: center;
margin-top: 1em;
}
  .sidenav .mydash{
    font-size: 20px;
  }
  .sidenav .active{
    color: var(--header-hover-text-colour);
    font-weight: bold;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, .dropdown-btn:hover {
    color: var(--header-hover-text-colour);
    font-weight: bold;
    @media (prefers-color-scheme: dark) {
      color: var(--header-hover-text-colour);
    }
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s;
    padding: 0;
    margin: 0;
  }
  .fa-solid{
    flex-direction: row;
    display: block;
    float: left;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-top: .70em;
    -webkit-app-region: no-drag;
  }
  .menu:hover {
    color: var(--header-hover-text-colour);
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-top: .72em;
    -webkit-app-region: no-drag;
  }
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: var(--dropdown-bg-colour);
  margin: auto;
  width: 100%;
  text-align: center;
  @media (prefers-color-scheme: dark) {
    background-color: var(--dropdown-bg-colour);
  }
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
}
/* Optional: Style the caret down icon */
.fa-caret-down  .icon {
  float: right;
  padding-left: 1em;
    padding-right: 1em;
  margin-left: 2em;
}
  .darkmode_button{
    padding-left: 1em;
    padding-right: 1em;
    float: right;
    margin-right: 20em;
    align-items: center;
    padding: auto;
    cursor: pointer;
    -webkit-app-region: no-drag;
    background-color: inherit;
    color: black;
    @media (prefers-color-scheme: dark) {
      color: var(--header-text-colour);
    }
  }
  /* Style the search box inside the navigation bar */
.search {
  padding:.5em;
  border: none;
  border-radius: .75em;
  -webkit-app-region: no-drag;
  margin-top: .5em;
margin-bottom: .5em;
float: right;
  margin-right: 25em;
  margin-right: .5em;
  font-size: 17px;
  background-color: inherit;
}
input .search:hover {
  background-color: var(---header-search-colour); 
  color: white;
}
 
hr.settings_space{
  border: .2px solid #4d3855;
  margin-top: .5em;
  width: 75%;
  margin-left: 15em;
  padding-right: 15em;
  margin-bottom: 1em;
}
.header_h1 {
  margin: auto;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
  align-self: center;
  color: var(--header-text-colour);

  @media (prefers-color-scheme: dark) {
    color: var(--header-text-colour);
  }
}

/*--------7:footer styling------------*/
footer {
  background-color: var(--footer-bg-colour);
  padding-left: 0;
  padding-top: 1px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: auto;
  padding-right: 0;
  max-width: 100%;
  max-height: auto;
  margin-left: 0;
  bottom: 40px;
  color: var(--footer-text-colour);
  @media screen and (max-width: 800px) {
    background-color: var(--footer-bg-colour);
    display: grid;
    padding-left: auto;
    padding-top: 1px;
    height: auto;
    padding: auto;
    margin: auto;
    padding-right: auto;
    width: 100%;
    margin-left: 0;
    bottom: 60px;
    margin-top: -1em;
    color: var(--footer-text-colour);
  }
  @media (prefers-color-scheme: dark) {
    background-color: var(--footer-bg-colour);
    color: var(--footer-text-colour);
    @media screen and (max-width: 800px) {
      background-color: var(--footer-bg-colour);
      color: var(--footer-text-colour);
    }
  }

  h1 {
    font-weight: 700;
    text-align: center;
  }
  p {
    font-weight: 700;
    text-align: center;
    padding: 1em;
    @media screen and (max-width: 800px) {
      display: none;
      opacity: 0;
    }
  }
  a {
    margin-left: 2em;
    float: right;
    padding-left: 0.2em;
    padding-right: 0.2em;
    align-items: center;
    text-align: center;
    color: var(--footer-text-colour);
    @media screen and (max-width: 800px) {
      padding: 1em;
      margin-top: -2em;
      margin: auto;
    }
  }
  .footer_display {
    display: flex;
    margin-left: 0;
    align-items: center;
    @media screen and (max-width: 800px) {
      display: grid;
      background-color: var(--footer-bg-colour);
    }
    @media (prefers-color-scheme: dark) {
      background-color: var(--footer-bg-colour);
      @media screen and (max-width: 800px) {
        display: grid;
        background-color: var(--footer-bg-colour);
      }
    }
  }
  /*Styling logo*/
  .footer_logo {
    padding: 1vh 1vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    img {
      height: 8rem;
      width: 8rem;
    }
    @media screen and (max-width: 800px) {
      margin: auto;
      align-items: center;
      padding: 0%;
    }
  }
}


 /* Dropdown Button */
 .dropbtn_header {
  background-color: inherit;
  color: white;
  margin-top: .50em;
  padding:.25em;
  font-size: 16px;
  border: none;
  cursor: pointer;
    -webkit-app-region: no-drag;
  margin-right: 10em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_header {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content_header {
  display: none;
  position: absolute;
  background-color: var(--dropdown-bg-colour);
  min-width: 150px;
  margin-left: 1.10em;
  cursor: pointer;
  -webkit-app-region: no-drag;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content_header a {
  color: var(--header-text-colour);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

/* Change color of dropdown links on hover */
.dropdown-content_header a:hover {
  background-color: var(--header-hover-text-colour);
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown_header:hover .dropdown-content_header {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_header:hover .dropbtn_header {
  color: var(--dark-hover-active-colour);
} 


/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--light-topnav-bg-colour);
  overflow: hidden;
margin-top: 2.5em;
position: fixed;
padding: .02em;
width: 100%;
@media (prefers-color-scheme: dark) {
      background-color: var(--dark-topnav-bg-colour);
    }
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
margin-top: .3em;
margin-bottom: .5em;
margin-right: .5em;
  padding: 13px 14px;
  text-decoration: none;
  font-size: 14px;
@media (prefers-color-scheme: dark) {
      color: var(--header-text-colour)
    }
}

/* Change the color of links on hover */
.topnav a:hover {
  border-bottom: 2px solid var(--light-hover-active-colour);
  color: black;
@media (prefers-color-scheme: dark) {
border-bottom: 2px solid var(--dark-hover-active-colour);
    color: var(--header-text-colour);
}
}
/* Add a color to the active/current link */
.topnav a.active {
  border-bottom: 2px solid var(--light-hover-active-colour);
  color: black;
@media (prefers-color-scheme: dark) {
border-bottom: 2px solid var(--dark-hover-active-colour);
    color: var(--header-text-colour);
}
}
.quick_settings_p, 
.h2_quick_settings_text, 
.h3_quick_settings_text, 
.h4_quick_settings_text{
color: black;
@media (prefers-color-scheme: dark) {
color: var(--header-text-colour);
}
}
.quick_settings_p{
font-size: 1em;
margin-left: 1em;
}
.h2_quick_settings_text{
font-size: 1em;
margin-bottom: 1em;
margin-left: 2em;
font-weight: bold;
}
.h3_quick_settings_text{
font-size: .75em;
margin-left: 1.2em;
padding-top: .5em;
}
.h4_quick_settings_text{
font-size: .8em;
margin-left: 1em;
}
.quick_settings_darkmode_flex{
  display: flex;
  margin-left: 1em;
margin-top: .5em;
}
.qs_dm{
display: block;
@media (prefers-color-scheme: dark) {
display: none;
}
}
.qs_lm{
display: none;
@media (prefers-color-scheme: dark) {
display: block;
}
}
.qs_darkmode_button_icon{
padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
    padding: auto;
    float: right;
    margin-left: 35%;
    -webkit-app-region: no-drag;
    cursor: pointer;
    background-color: inherit;
}
.qs_darkmode_button_icon_2{
padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
    padding: auto;
    float: right;
    margin-left: 15%;
    -webkit-app-region: no-drag;
    cursor: pointer;
    background-color: inherit;
}
.quick_settings_version_flex{
  display: flex;
  margin-left: 1em;
margin-top: .5em;
margin-bottom: 1em;
}
.quick_settings_version_p{
font-size: 1em;
margin-left: 2em;
margin-top: 1em;
color: black;
@media (prefers-color-scheme: dark) {
    color: var(--footer-text-colour);
}
}
.qs_check_update_button{
display: inline-block;
  color: black;
  text-align: center;
margin-top: -.6em;
margin-left: 1em;
  padding: 14px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 0px;
border-bottom: 1px solid var(--light-hover-active-colour);
@media (prefers-color-scheme: dark) {
    color: var(--footer-text-colour);
border-bottom: 1px solid var(--dark-hover-active-colour);
    
  }
}
.qs_check_update_button:hover{
color: var(--light-hover-active-colour);
@media (prefers-color-scheme: dark) {
    color: var(--dark-header-hover-text-colour);
}
}

.qs_form_lang{
padding-left: 1em;
margin-right: 1em;
padding-right: 1em;
margin: auto;

}
.qs_form_lang select{
padding: 1em;
color: var(--settings-dark-links-text-colour);
background-color: var(--settings-light-lang-colour);
@media (prefers-color-scheme: dark) {
    color: var(--settings-dark-links-text-colour);
background-color: var(--settings-dark-lang-colour);
  }
}
hr.quick_settings_space{
  border: .2px solid #4d3855;
  margin-top: .5em;
  width: 85%;
  margin-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
@media (prefers-color-scheme: dark) {
border: .1px solid var(--header-hover-text-colour);
}
}


/* Style the links inside the pill navigation menu */
.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
margin-top: 8em;
margin-left: 1em;
  padding: 14px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 0px;
@media (prefers-color-scheme: dark) {
    color: var(--footer-text-colour);
}
}
.pill-nav a:first-child{
margin-left: 5em;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  border-bottom: 2px solid var(--light-hover-active-colour);
  color: black;
@media (prefers-color-scheme: dark) {
border-bottom: 2px solid var(--dark-hover-active-colour);
    color: var(--footer-text-colour);
}
}

/* Add a color to the active/current link */
.pill-nav a.active {
  border-bottom: 2px solid var(--light-hover-active-colour);
  color: black;
@media (prefers-color-scheme: dark) {
border-bottom: 2px solid var(--dark-hover-active-colour);
    color: var(--footer-text-colour);
}
}