* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    display: none;
}
  :root {
    color-scheme: light dark;
    /*light mode colours*/

    --light-body-bg-colour: #f5f5f5;
    --light-hover-active-colour: #5c2246;
    --light-svg-fill-colour: black;
    --light-section-1-bg-colour: #ededf1;
    --light-sorce-code-svg-fill-colour: #5a5c5e;
    --light-card-bg-colour: white;
    --light-card-title-span-colour: #333;
    --light-card-box-shadow-colour: rgba(0, 0, 0, 0.2);
    --light-card-box-shadow-hover-colour: #5c2246;
    --light-top-border-colour: #5c2246;
    --light-project-discription-colour: #29292b;
    /*dark mode colours*/
    --dark-body-bg-colour: #121212;
    --dark-nav-text-colour: #f2f5f7;

    
    --hover-active-colour: #f2c7e2;
    --svg-fill-colour: #fff;
    --sorce-code-svg-fill-colour: hsl(214, 7%, 47%);
    --section-1-bg-colour: #1f1e1e;
    --card-bg-colour: #262626;
    --card-title-span-colour: rgb(255, 251, 251);
    --card-box-shadow-colour: rgba(139, 138, 138, 0.2);
    --card-box-shadow-hover-colour: #f2c7e2;
    --top-border-colour: #f2c7e2;
    --footer-link-colour: dimgrey;
    --blog-span-hr-colour: rgba(105, 105, 105, 0.26);
    --project-discription-colour: #b5b8bd;
  }
  body{
      background-color: var(--light-body-bg-colour);
      font-family: 'Poppins', sans-serif;
      max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
      @media (prefers-color-scheme: dark) {
        background-color: var(--dark-body-bg-colour);
      }
  }

.main_article{
    flex-grow: 1;
}

  .projects_img{
    width: 100%;
    margin-top: 0;
  }

  .h1_text{
    text-align: center;
    padding-top: 1.5em;
    margin-bottom: 2em;
    margin: auto;
    font-size: 3em;
    z-index: 1;
    color: var(--light-nav-text-colour);
    @media (prefers-color-scheme: dark) {
    color: var(--dark-nav-text-colour);
    }
  }
  .h1_help_text{
    text-align: center;
    padding-top: 3em;
    margin-bottom: 2em;
    margin: auto;
    font-size: 3em;
    z-index: 1;
    color: var(--light-nav-text-colour);
    @media (prefers-color-scheme: dark) {
    color: var(--dark-nav-text-colour);
    }
  }
  .h2_header_text{
    text-align: center;
    padding-top: 4em;
    margin: auto;
    font-size: 2em;
    z-index: 1;
    color: var(--light-nav-text-colour);
    @media (prefers-color-scheme: dark) {
    color: var(--dark-nav-text-colour);
    }
  }
  .h2_text{
    text-align: center;
    padding-top: 2em;
    margin: auto;
    font-size: 2em;
    z-index: 1;
    color: var(--light-nav-text-colour);
    @media (prefers-color-scheme: dark) {
    color: var(--dark-nav-text-colour);
    }
  }
  .help_text_p{
    margin-right: 2.5em;
  }
  @media screen and (max-width: 700px) {
    .h1_text{
      padding-left: 1em;
      padding-top: 2em;
      font-size: 4em;
      z-index: 1;
    }
  }
  

  
 
  .h1_space {
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: var(--light-nav-text-colour);

    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }


.project-header-section-container {
width: 100%;
margin: auto;
padding-top: 6.7em;
padding-left: 1em;
padding-bottom: .5em;
/*padding:10px;*/
background-color: var(--light-section-3-bg-colour);
@media screen and (max-width: 800px) {
padding-bottom: 17em;
}
@media (prefers-color-scheme: dark) {
  background-color: var(--section-3-bg-colour);
}

}

#project-header-section-img {
width: 50%;
height: 100%;
float: left;
}

.project-header-section {
display: block;
object-fit: cover;
width: 100%;
max-width: 100%;
height: 450px;
}

.project-header-section-text {
padding-left: 50px;
padding-right: 35px;
padding-top: 50px;
display: block;
margin: auto;
text-align: center;
font-size: 25px;
color: var(--light-nav-text-colour);

@media (prefers-color-scheme: dark) {
  color: var(--nav-text-colour);
}
}
.project-header-section-text-p {
padding-left: 50px;
padding-right: 35px;
display: block;
margin: auto;
text-align: center;
font-size: 16px;
color: var(--light-nav-text-colour);

@media (prefers-color-scheme: dark) {
  color: var(--nav-text-colour);
}
}
.project-header-section-button {
padding-left: 50px;
}

/* you only need to float one div if you use margin-left on the other one to equal the first div's width*/

.project-header-section-box {
margin-left: 50%;
width: 50%;
height: 450px;

}

/* not sure if media query works, I want it to make the carving class text and picture in a single column when it's on a small screen*/

@media(max-width:640px) {
.project-header-section-box {
  width: 90%;
  margin-right: 10em;
  margin-left: 1em;
}

.project-header-section-img {
  float: none;
  width:auto;
}
.project-header-section {
min-width: 190%;
height: 100%;
align-items: center;

}
.project-header-section-text {
margin: auto;
padding-bottom: 1em;
font-size: 25px;
color: var(--light-nav-text-colour);

@media (prefers-color-scheme: dark) {
  color: var(--nav-text-colour);
}
}
}
.projects_header_links {
border: 0.2em;
text-decoration: none;
display: inline-block;
align-items: center;
text-align: center;
font-size: 20px;
padding-top: auto;
margin: 0;
&:hover {
  border: 0.2em;
  color: var(--light-hover-active-colour);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding-top: auto;
}
@media (prefers-color-scheme: dark) {
  &:hover {
    color: var(--hover-active-colour);
  }
}
}
.projects_links {
border: 0.2em;
text-decoration: none;
display: inline-block;
align-items: center;
text-align: center;
font-size: 18px;
margin-left: 0.75em;
padding-top: auto;

&:hover {
  border: 0.2em;
  color: var(--light-hover-active-colour);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;
}

@media (prefers-color-scheme: dark) {
  &:hover {
    color: var(--hover-active-colour);
  }
}
}
.projects_text {
text-align: center;
color: var(--light-nav-text-colour);
@media (prefers-color-scheme: dark) {
  color: var(--nav-text-colour);
}
}

.project_discription{
text-align: center;
color: var(--light-project-discription-colour);
@media (prefers-color-scheme: dark) {
  color: var(--project-discription-colour);
}
}

.hc_project_h1 {
margin: auto;
text-align: center;
padding-top: 10em;
padding-bottom: 5em;
color: var(--light-nav-text-colour);
@media (prefers-color-scheme: dark) {
  color: var(--nav-text-colour);
}
}
.project_h1 {
margin: auto;
text-align: center;
padding-top: 5em;
color: var(--light-nav-text-colour);

@media (prefers-color-scheme: dark) {
  color: var(--nav-text-colour);
}
}
.link_placement {
margin: auto;
display: flex;
padding-top: auto;
align-items: center;
text-align: center;
padding-top: 0.35em;
}
.source_code_links {
border: 0.2em;
color: var(--light-sorce-code-svg-fill-colour);
text-decoration: none;
display: inline-block;
align-items: center;
text-align: center;
font-size: 18px;
margin-left: 0.75em;
padding-top: auto;
&:hover {
  border: 0.2em;
  color: var(--light-hover-active-colour);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;
}
@media (prefers-color-scheme: dark) {
  &:hover {
    color: var(--hover-active-colour);
  }
}
}
svg {
fill: var(--light-svg-fill-colour);
width: 2.5em;
height: 2.5em;
padding-left: 0.9em;
padding-right: auto;
@media (prefers-color-scheme: dark) {
  fill: var(--svg-fill-colour);
}
}
.source_code_svg {
fill: var(--light-sorce-code-svg-fill-colour);
width: 2em;
height: 2em;
padding-left: 0.7em;
padding-right: auto;
}
.head_text_projects {
margin: 0.1em 1em;
margin-left: 2em;
padding-bottom: 0.3em;
}
.project_links_placement {
display: flex;
margin: auto;
}
.projects_img {
width: 100%;
margin: 0;
padding: 0;
margin-bottom: 1em;
}