hr { 
    border-top: 1px solid var(--top-border-colour); 
  width: 97%;
  margin-left: 1em;
  margin-top: .6em;

  align-items: center;
  @media screen and (max-width: 800px){
    width: 90%;
  }
  }
  h2, h3{
    padding-top: .7em;
    font-size: 1em;
    @media screen and (max-width: 800px){
      margin-left: 1em;
      margin-right: 1em;
    }
  }
  p,h2{
    color: var(--nav-text-colour);
    padding-left: 1em;
  }
  h3 {
    color: var(--nav-text-colour);
    padding-left: 1.75em;
  }
  li{
    margin-left: 3.5em;
    margin-right: 1.5em;
  }
  p{
    @media screen and (max-width: 800px){
      margin-right: 1.5em;
      margin-left: 1em;
    }
  }

  hr.test{
    border: .2px solid #4d3855;
    margin-top: .5em;
  }
  hr.space{
    border: .2px solid #4d3855;
    margin-top: .5em;
    margin-bottom: 1em;
  }
  .whatsnew_section{
    padding-top: 0.7em;
    padding-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
  }

  .help_hr { 
    border-top: 1px solid var(--top-border-colour); 
  width: 97%;
  margin-left: 1em;
  margin-top: .6em;
  padding-bottom: 1.25em;
  align-items: center;
  @media screen and (max-width: 800px){
    width: 90%;
  }
  }